* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
}
@font-face {
    font-family: Outfit Regular;
    src: url(../fonts/Outfit-Regular.ttf);
}
@font-face {
    font-family: Outfit Extra-Bold;
    src: url(../fonts/Outfit-ExtraBold.ttf);
}
@font-face {
    font-family: Didot;
    src: url(../fonts/Didot\ LT\ Std\ Bold.otf);
}
nav {
    font-family: Outfit Regular;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    position: relative;
    transform: translateY(-100%);
    opacity: 0;
    transition: 1s ease;
    transition-delay: 2s;
}
nav.show {
    transform: translateY(0%);
    opacity: 1;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: .5em;
}
nav ul li a {
    padding: .8em .5em;
    position: relative;
}
nav ul li a::after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0%;
    background: white;
    transition: .5s ease;
}
nav ul li a:hover::after {
    width: 100%;
}
nav .logo {
    font-family: Didot;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 2.7em;
    transition: .5s ease;
    cursor: pointer;
    opacity: 0;
    transition: opacity 3s ease 2.7s, scale .5s ease 0s;
}
nav .logo:hover {
    scale: 1.1;
}
nav.show .logo {
    opacity: 1;
}
nav .logo .initials {
    font-size: 2.3em;
    line-height: .8;
}

nav .icons {
    display: flex;
    gap: .3em;
}
nav .icons svg {
    width: 1.5em;
    height: 1.5em;
    margin: 0 .3em;
    cursor: pointer;
    transition: .5s ease;
}
nav .icons svg:hover {
    scale: 1.2;
}
nav .burger {
    display: none;
}

main {
    font-family: Outfit Extra-Bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 4vw;
    margin-top: 1em;
    margin-bottom: .7em;
    position: relative;
}
main .container {
    overflow: hidden;
}
main .container:first-child p {
    transition: .8s ease;
    transform: translateY(100%);
}
main .container:last-child p {
    transition: .8s ease;
    transform: translateY(-100%);
    transition-delay: .3s;
    color: transparent;
    -webkit-text-stroke: .2vw #fff;
    z-index: 20;
}
main.show .container p {
    transform: translateY(0%);
}

.images {
    display: flex;
    gap: 1em;
}
.images .image {
    width: 100%;
    height: 60vh;
    background: #ffffff20;
    background-position: center;
    position: relative;
    transition: background-size 1s ease;
}
.images .image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    transition: .75s ease;
}
.images.show .image::after {
    height: 0%;
}
.images.show .image:nth-child(1):after {
    transition-delay: 1.4s;
}
.images.show .image:nth-child(2)::after {
    transition-delay: 1.7s;
}
.images.show .image:nth-child(3):after {
    transition-delay: 1.1s;
}
.images .image:nth-child(1) {
    background-image: url(../images/FILE2678.jpg);
    background-size: cover;
}
.images .image:nth-child(2) {
    background-image: url(../images/IMG_20200819_135203\ \(1\).jpg);
    background-size: cover;
}
.images .image:nth-child(3) {
    background-image: url(../images/IMG_20200708_145455-01.jpg);
    background-size: cover;
}
@media screen and (max-width: 840px) {
    body {
        overflow-x: hidden;
    }
    nav {
        margin-bottom: 3em;
        z-index: 10;
    }
    nav ul {
        background: #00000050;
        backdrop-filter: blur(2px);
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        max-width: 20em;
        width: 40vw;
        height: 100vh;
        z-index: 10;
        padding-top: 4em;
        transform: translateX(100%);
        transition: all 0s, transform .7s ease;
    }
    nav ul.open {
        transform: translateX(0%);
    }
    nav ul li {
        text-align: center;
        width: 100%;
        height: max-content;
        padding-block: .6em;
    }
    nav ul li:hover a::after {
        width: 100%;
    }
    nav .logo {
        position: static;
        transform: none;
    }
    nav .logo p:nth-child(1) {
        font-size: 1.5em;
    }
    nav .logo p:nth-child(2) {
        font-size: .7em;
    }
    nav .icons {
        display: none;
    }
    nav .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 1.4em;
        height: 1.5em;
        cursor: pointer;
        z-index: 20;
    }
    nav .burger div {
        width: 100%;
        height: 2px;
        background: white;
        transition: .5s ease;
    }
    nav .burger.close div:nth-child(2) {
        opacity: 0;
    }
    nav .burger.close div:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: left;
    }
    nav .burger.close div:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: left;
    }
    main {
        font-size: 6vw;
    }
}
@media screen and (max-width: 500px) {
    nav ul {
        max-width: 20em;
        width: 70vw;
    }
    main {
        font-size: 9vw;
    }
    .images {
        margin-top: 3em;
        flex-wrap: wrap;
        margin-inline: 2em;
    }
}