.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-height: 100vh;
    width: 100vw;
    background: black;
    filter: blur(7px) contrast(50);
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.loader.out {
    opacity: 0;
    z-index: -1;
}
.loader .particle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    animation: bounce 1.7s infinite ease;
}
@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}
.loader .particle:nth-child(1) {
    opacity: 0;
}
.loader .particle:nth-child(2) {
    animation-delay: .2s;
}
.loader .particle:nth-child(3) {
    animation-delay: 1s;
}
.loader .particle:nth-child(4) {
    animation-delay: .5s;
}
.loader .particle:nth-child(5) {
    animation-delay: .2s;
}
.loader .particle:nth-child(6) {
    animation-delay: .3s;
}
.loader .particle:last-child {
    width: 20px;
    height: 20px;
    animation: move 4s infinite;
    /* background: red; */
}
@keyframes move {
    0% { transform: translateX(0); }
    50% { transform: translateX(-172px); }
    100% { transform: translateX(0); }
}